# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artifacts
/.turbo
/.next
/out
/.vercel
/.netlify
/.expo
/.parcel-cache
/.docusaurus
/build

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Testing (Vitest, Jest)
.vitest/
jest.*

# Miscellaneous
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log
